
<form action = "/random/results">

<label for = "first"> Minimum </label> <br>
<input id = "first" type = "text" name = "min" placeholder = "E.g. 1.5?"> <br>

<label for = "second"> Maximum </label> <br>
<input id = "second" type = "text" name = "max" placeholder = "E.g. 4.5?"> <br>

<button> Pick random number </button>

</form>
