<form action = "/square_root/results">
<label for = "first"> Enter a number </label> <br>
<input id = "first" type = "text" name = "to-square-root" placeholder = "what number do you want to take the square root of?"> <br>  
<button> Calculate a square </button>

</form>
