
<form action = "/square/results">
<label for = "first"> Enter a number </label> <br>
<input id = "first" type = "text" name = "to-square" placeholder = "what number do you want to take the square of?"> <br>  
<button> Calculate a square </button>

</form>
